/*Este é um comentario em CSS */
.cabecalho h1{
    font-size: 24px;
    color: #333;
    background-color: rgb(174, 35, 179) !important;
    display: inline;
}
ul li{
    display: inline;
    margin: 5%;
}

.cabecalho{
    background-color: rgb(30, 30, 155);
}

h1, h2{
    font-family: sans-serif;
}